/*here comes my css code*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  box-shadow: 5px 5px 5px grey;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/
}

.card {
  background-color: aqua;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px burlywood;
}

.footer {
  background-color: aliceblue;

  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

.imagebox {
  border: solid;
}

.images {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hashtags {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.hashtagbox {
  border: solid;
}

/*.answer .question;*/
