/*here comes my css code*/
@import "global.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: lightslategrey;
  margin: 0;
  padding: 0;
}

.header {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 4px 4px 4px 2px;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;*/
}

.card {
  background-color: white;
  /*border: solid;*/
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 3px 5px;
}

.footer {
  /*background-color: ;*/
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0; /*change pictures to same size*/
  left: 20px;
  width: 100%;
}

.footer__navbar {
  /*border: solid;*/
  margin: 0;
  padding: 0;
}

.footer__navbar--images {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  gap: 10px;
}

.hashtags {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.hashtagbox {
  border: solid;
}

#answer-checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-hack-content {
  display: none;
}

#answer-checkbox:checked ~ .checkbox-hack-content {
  display: block;
}

#answer-checkbox-two {
  position: absolute;
  opacity: 0;
}

.checkbox-hack-content-two {
  display: none;
}

#answer-checkbox-two:checked ~ .checkbox-hack-content-two {
  display: block;
}

label {
  display: flex;
  justify-content: center;
}

.hideanswer {
  display: none; /* instead use visibility: hidden;"*/
}
.answer {
  align-content: center;
}

.question {
  align-content: center;
}
