/*here comes my css code*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
  font-family: system-ui;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
}

.footer {
  color: blue;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
